<div id="notes"></div>

<div id="note"</div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Supernote.Routers.NotesRouter({notes: <%= @notes.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>