<h3>Edit note</h3>

<form id="edit-note" name="note">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
  
    <input type="text" name="content" id="textarea" value="<%= content %>" >
   
  </div>

  <div class="field">
    <label for="tag"> tag:</label>
    <input type="text" name="tag" id="tag" value="<%= tag %>" >
  </div>

  <div class="actions">
    <input class="btn btn-success btn-small" type="submit" value="Update Note" />

    <a class="btn " href="#/<%= id %>" class="show">Show </a>
    
  </div>

</form>

