<h1>New note</h1>

<form id="new-note" name="note">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value=<%= content %> >
  </div>

  <div class="field">
    <label for="tag"> tag:</label>
    <input type="text" name="tag" id="tag" value=<%= tag %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Note" />
  </div>

</form>

<a href="#/index">Back</a>